In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [35]:
og_link = "https://www.yelp.com/biz/din-tai-fung-arcadia-5?osq=dtf"
links = ["https://www.yelp.com/biz/din-tai-fung-arcadia-5?osq=dtf"]
links

['https://www.yelp.com/biz/din-tai-fung-arcadia-5?osq=dtf']

In [60]:
df = pd.DataFrame(columns=['Reviews','Stars'])
for i in range(0,1020,20):
    if i == 0:
        new_link = og_link
    else:
        new_link = og_link + '&start=' + str(i)
    # Get Page
    page = requests.get(new_link)
    # Soup object
    soup = BeautifulSoup(page.content, 'html.parser')
    
    # Initalize Df
    temp_df = pd.DataFrame()
    # Grab Reviews
    review = soup.find_all('p',class_='lemon--p__373c0__3Qnnj text__373c0__2pB8f comment__373c0__3EKjH text-color--normal__373c0__K_MKN text-align--left__373c0__2pnx_')
    review_arr = []
    for i in range(0,len(review),1):
        review_arr.append(review[i].find(class_="lemon--span__373c0__3997G").get_text())
    
    # Grab Star Ratings
    stars = soup.find_all(class_='lemon--div__373c0__1mboc sidebarActionsHoverTarget__373c0__2kfhE arrange__373c0__UHqhV gutter-12__373c0__3kguh layout-stack-small__373c0__3cHex border-color--default__373c0__2oFDT')
    stars_arr = []
    for i in range(0,len(stars),1):
        temp = stars[i].find(class_='lemon--div__373c0__1mboc arrange-unit__373c0__1piwO arrange-unit-fill__373c0__17z0h border-color--default__373c0__2oFDT')
        if temp:
            stars_arr.append(temp.find('div').find('div').find('div').find('div').get('aria-label')[0])
     
    temp_df['Reviews'] = review_arr
    temp_df['Stars'] = stars_arr       
    
    df = pd.concat([df,temp_df],ignore_index=True)

In [61]:
df.head()

                                             Reviews Stars
0  Great service, fresh and tasty dumplings and v...     5
1  I have fallen victim to their Chocolate Mochi ...     5
2  My boyfriend wanted to try this place out sinc...     5
3  This is the original and first location of the...     3
4  Delicious dumplings! We stumbled onto this pla...     5

In [62]:
len(df)

1020

In [63]:
# Save to CSV
df.to_csv('dtf.csv')